# Copy to secrets/containers/pterodactyl-oauth.yaml and encrypt with sops on ace.
# Create Zitadel OIDC app first (Web app). Redirect URIs:
#   https://panel.prestonhager.com/extensions/sociallogin/callback
#   https://panel.prestonhager.com/oauth2/callback
#   https://test.panel.prestonhager.com/extensions/sociallogin/callback

pterodactyl-oauth-env: |
  PTERODACTYL_OIDC_CLIENT_ID=REPLACE_ZITADEL_CLIENT_ID
  PTERODACTYL_OIDC_CLIENT_SECRET=REPLACE_ZITADEL_CLIENT_SECRET
  ZITADEL_PROJECT_ID=376196450586990901
